@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stylish&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #26262B;
    height: 100vh;
    
}
header{
    padding: 20px 25px;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight:300 ;
    font-size: 14px;
    letter-spacing: 0.9px;
}
nav ul{
    list-style-type: none;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    width:70%; 
    border-right:1.5px solid white;
    padding-right:29.99px ;
} 
nav{
    display: flex;
    align-items: center;
    width: 65%;
    justify-content: center;
    gap: 34px;
}
.button1{
    background: none;
    border: none;
    color: white;
}
.button2{
    background: none;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    padding: 6px 22.5px;
}
.buttons_div{
    display: flex;
    align-items: center;
    gap: 30px;
    letter-spacing: 0.9px;
}
.setapp{
    padding-left:18px ;
}