*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(#1E1E20, #0E0E11);
    height: 100vh;
    font-family: 'inter', sans-serif;
}

header{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    color: #fff;
    width: 100%;
    height: 72px;
}

/* navigation seqcia */
nav{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
    width: 100%;
    padding-left: 25px;
    padding-top: 7px;
}

nav ul{
    align-content: center;
    font-size:16px;
}

.nav{
    border: 1px #fffafa14 ;
    background-color: #ffffff14;
    color: rgb(235, 235, 235);
    padding: 13px;
    border-radius: 32px;
    width: 500px;
    height: 52px;
    gap: 42px;
    
    display: flex;
    flex-direction: row;
    margin:auto;
    margin-top: 7px;
}

.login{
    
    font-size: 16px;
    border-radius: 32px;
    background-color: #1E1E20;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 100%;
    border-style: none;
}

.login_dark{

    font-size: 16px;
    border-radius: 32px;
    background-color: #39393d;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    border-style: none;
}

.login_div{
    height: 30px;
    width: 70px;
    margin-right: 25px;
}

nav ul {
    font-family: "inter", sans-serif;
    list-style-type: none;
}

/* patara about seqcia */

.text_before_system_div{
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.design_tools{
    padding-left:45px ;
}

.text_before_system{
    background-image: linear-gradient(107.41deg, #FFFFFF 65%, rgba(255, 255, 255, 0.43) 100%);
    background-clip: text;
    color: transparent;
    
    letter-spacing: -0.2px;
    font-size: 75px;
    font-weight:700;

}

.text_before_system_2{
    font-size: 20px;
    font-weight: 500;
    color: #BDBDC0;
    line-height: 33px;
}

.text_before_system_2_div{
    justify-content: center;
}