* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
  }
  
  body {
    background-color: var(--violet);
    background-image: url(https://alcs-huddle.netlify.app/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    min-height: 100vh;
    color: white;
    font-size: 1.4em;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
  
    main {
      margin: 3em 3em 0 3em;
  
      .logo {
        height: 45px;
        max-width: 100%;
      }
  
      article {
        margin-top: 2em;
        display: flex;
  
        img {
          max-width: 100%;
        }
  
        .content {
          display: flex;
          flex: 50%;
          flex-direction: column;
          margin-left: 3em;
  
          p {
            font-size: 17px;
            color: #3f3f3f;
          }
  
          button {
            margin-top: 1em;
            padding: 16px 0;
            font-size: 20px;
            background-color: rgb(50, 50, 50);
            border-radius: 50px;
            border: none;
            outline: none;
            color: var(--violet);
            box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.123);
            text-decoration: none;
            text-align: center;
            display: inline-block;
            width: 39%;
  
            &:hover {
              background-color: var(--magenta);
              color: white;
            }
          }
        }
      }
  
      .SocialMedia {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding: 0;
  
        a {
          color: white;
          border: 1px solid white;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          margin-left: 10px;
  
          &:hover {
            color: var(--magenta);
            border: 2px solid var(--magenta);
          }
        }
      }
    }
  
    footer {
      .attribution {
        font-size: 14px;
        text-align: center;
  
        a {
          color: #00252e;
          font-weight: bold;
          text-decoration: none;
        }
  
        i {
          color: rgb(236, 40, 40);
        }
      }
    }
  }
  
  