* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(129, 158, 0);
}

h1{
    font-family:cursive;
    font-size: 40px;
    color: gold;
}

img{
    width:800px;
    height:auto;
    border-radius:80px;
    transition:0.2s;
    position: fixed;
    right: 10px;
    
    
}
img:hover{
    width:825px;
    border:5px solid black;
}




p{
    font-size: 25px;
    text-align:center;
    font-family:cursive;
    color: rgb(0, 0, 0);
    
}

header{
    height:100px;
    width:100%;
    text-align: center;
    align-items:center;
    justify-content: center;
    display:grid;
    align-items:center;
    position:sticky;
    top:0
    
}