@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    text-decoration:none;
}

body{
    font-family: "Quando", serif;
    background-color: #F5F5DC;
}

h1{
    text-align: center;
    font-size: 35px;
    padding: 15px;
}

p{
    padding: 15px;
    font-size: 19px;
    color: #333333;
    padding-bottom: 50px;
}

nav{
    font-size: 23px;
    text-decoration: none;
    padding: 15px;
}
#a1{
    text-decoration: none;
    color: rgb(255, 136, 0);
}

#a1:hover{
    text-decoration: underline solid #66ccff;
    font-size: 25px;
    transition: 0.7ms;
    color: #66ccff;
}

#a2{
    text-decoration: none;
    color: rgba(255, 136, 0, 0.736);
}

#a2:hover{
    text-decoration: underline #66ccff;
    font-size: 25px;
    transition: 0.7ms;
    color: #66ccff;
}

#a3{
    text-decoration: none;
    color: rgba(255, 136, 0, 0.736);
}

#a3:hover{
    text-decoration: underline #66ccff;
    font-size: 25px;
    transition: 0.7ms;
    color: #66ccff;
}

.iv{
    padding: 30px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(225, 145, 101);
    background-color: rgb(255, 236, 187);
    gap: 190px;
    box-shadow: 10px 10px 10px 10px rgb(248, 215, 144);
}
