*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(#1E1E20, #0E0E11);
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    color: #fff;
    width: 100%;
    height: 72px;
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color:#2d2d2f;
    padding: 10px 20px;
    border-radius: 32px;;
    border: 1px;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: "inter", sans-serif;
    list-style-type: none;
}
