*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(#1E1E20, #0E0E11);
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    color: #fff;
    width: 100%;
    height: 72px;
}

nav{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
    width: 100%;
    padding-left: 25px;
    padding-top: 7px;
}

.nav{
    border: 1px ;
    background-color: #ffffff14;
    color: rgb(235, 235, 235);
    padding: 13px;
    border-radius: 32px;
    width: 424px;
    height: 55px;
    display: flex;
    flex-direction: row;
    gap: 29px;
    justify-content: center;
    margin:auto;
    margin-top: 7px;
}

.login{
    
    border-radius: 32px;
    background-color: #1E1E20;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    border-style: none;
}

nav ul {
    font-family: "inter", sans-serif;
    list-style-type: none;
}
